<div class="container d-flex flex-column align-items-center mt-3">
  {{!-- type是來自於路由的支出or收入 --}}
  <h2 class="mt-4">編輯{{type}} </h2>
  {{!-- 選擇記帳類型 --}}
  <div class="btn-group">
    <a href="/record/{{ record._id }}/edit/支出" class="btn btn-primary active" aria-current="page">支出</a>
    <a href="/record/{{ record._id }}/edit/收入" class="btn btn-primary">收入</a>
  </div>
  {{!-- 選擇記帳類型 --}}
  <form action="/record/{{ type }}/{{ record._id }}?_method=PUT" method="post" class="needs-validation" novalidate>
    <input id="name" class="form-control my-4" type="text" name="name" placeholder="開支名稱"
      value="{{#isnt type '收入'}}{{ record.name }}{{/isnt}}{{#is type '收入'}}收入{{/is}}" {{#is type '收入' }}readonly{{/is}}
      {{#is type '支出' }}pattern="(?:(?!收入).)*" {{/is}} required>
    <div class="has-validation invalid-feedback">
      必填，且支出名稱不能為收入
    </div>
    {{!-- 類別選單 & 新增類別按鈕 --}}
    <div class="category-rapper d-flex align-items-center">
      <select id="category" class="form-control my-4" name="category" required>
        <option value="" selected disabled hidden>請選擇支出類別...</option>
        {{#each categoryList}}
        {{#is ../type this.type}}
        <option value="{{ this.name }}" {{#is this.name ../record.category}}selected{{/is}}>{{ this.name }}</option>
        {{/is}}
        {{/each}}
      </select>
    </div>
    {{#is '支出' type}}
    <input type="text" class="form-control my-4" name="merchant" id="merchant" placeholder="輸入商家名稱(選填)"
      value="{{ merchant }}">
    {{/is}}
    {{!-- 選擇支出日期 --}}
    <input id="date" class="form-control my-4" type="date" name="date" value="{{time}}">
    <div class=" input-group has-validation">
      <input class="form-control" type="number" name="amount" id="amount" inputmode="numeric" placeholder="支出總額" min="0"
        pattern="[0-9]*" value="{{ money }}" required>
      <div class="has-validation invalid-feedback">
        請輸入總金額，並用數字表示，不可低於0元
      </div>
    </div>
    {{!-- 置中按鈕 --}}
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-success my-4" type="submit">編輯開支</button>
    </div>
  </form>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>