<div class="container-fluid">
    <div class="d-flex flex-column align-items-center mt-3">
        {{!-- 類別篩選器 --}}
        <div class="dropdown my-5">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                類別
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/">全部
                        {{#each categoryList}}
                <li><a class="dropdown-item" href="/{{ this.name }}">{{ this.name }}</a></li>
                {{/each}}
            </ul>
        </div>
        {{!-- 總金額 --}}
        <h4 id="total-amount" class="mb-5">總金額： <span>{{totalAmount}}</span></h4>
        {{!-- 詳細支出 --}}
        <ul id="expense-panel" class="list-group-horizontal">
            {{#each records}}
            <div class="row">
                <li class="list-group-item bg-light">
                    <div class="d-flex justify-content-between">
                        <div class="info d-flex justify-content-between align-items-center">
                            {{!-- 類別圖案 --}}
                            <div class="category-icon">
                                <i class="{{this.icon}}"></i>
                                <span class="badge bg-light text-dark">{{this.category}}</span>
                            </div>
                            {{!-- 支出明細 --}}
                            <div class=" text m-5">
                                <div class="name fw-bold">{{this.name}}</div>
                                <div class="time">{{this.date}}</div>
                            </div>
                        </div>
                        {{!-- 支出金額 --}}
                        <div class="amount m-auto">
                            <h6>{{this.amount}}</h6>
                        </div>
                        {{!-- 功能按鈕 --}}
                        <div class="d-flex justify-content-between align-items-center ms-5">
                            {{!-- 根據紀錄類型決定路由放支出/收入 --}}
                            <a class="btn btn-success ms-2"
                                href="/record/{{ this._id }}/edit/{{#is '收入' this.name}}{{this.name}}{{/is}}{{#isnt this.name '收入'}}支出{{/isnt}}">edit</a>
                            <button class="btn btn-danger ms-2" type="button" data-bs-toggle="modal"
                                data-bs-target="#deleteConfirm">delete</button>
                        </div>
                    </div>
                </li>
            </div>
            {{!-- model --}}
            <div class="modal fade" id="deleteConfirm" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">刪除資料確認</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span class="text-warning mx-2">{{ this.name }}</span>
                            <span>刪除以後就找不回來了喔...確定要刪除嗎？</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/record/{{ this._id }}?_method=DELETE" method="POST">
                                <button class="btn btn-danger" type="submit">delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </ul>
        {{!-- 新增按鈕 --}}
        <a class="btn btn-warning btn-lg fs-1 rounded-circle position-fixed bottom-0 mb-5 end-50%"
            href="/record/new/支出">開始記帳</a>
        {{!-- 返回頂端按鈕 --}}
        <button class="btn btn-secondary position-fixed bottom-0 mb-5 end-0" onclick="topFunction()"
            id="scrollTop">Top</button>
    </div>
</div>

<script>
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>