<div class="container d-flex flex-column align-items-center mt-3">
  <div class="btn-group">
    <a href="/record/new/支出" class="btn btn-primary active" aria-current="page">支出</a>
    <a href="/record/new/收入" class="btn btn-primary">收入</a>
  </div>
  <h2 class="mt-4">為你記下{{ type }}！</h2>
  {{!-- 新增類別的成敗提示 --}}
  {{#if error}}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {{/if}}
  {{#if success}}
  <div class="alert alert-success" role="alert">
    {{success}}
  </div>
  {{/if}}
  {{!-- 新增類別的成敗提示 --}}
  <form action="/record/new" method="post" class="needs-validation" novalidate>
    <input id="name" class="form-control my-4" type="text" name="name" placeholder="{{ type }}名稱" required {{#is '收入'
      type}} value="收入" readonly{{/is}}>
    <div class="category-rapper d-flex align-items-center">
      <select id="category" class="form-control my-4" name="category" required>
        <option value="" selected disabled hidden>請選擇{{type}}類別...</option>
        {{#each categoryList}}
        <option value="{{ this.name }}">{{ this.name }}</option>
        {{/each}}
      </select>
      <button type="button" class="btn btn-secondary mx-2 h-50" data-bs-toggle="modal" data-bs-target="#addCategory"
        data-bs-whatever="@mdo">+</button>
    </div>
    <input id="date" class="form-control my-4" type="date" name="date" value="2021-07-23">
    <div class="input-group has-validation">
      <input class="form-control" type="number" name="amount" id="amount" inputmode="numeric" placeholder="總額" min="0"
        pattern="[0-9]*" required>
      <div class="has-validation invalid-feedback">
        請輸入總金額，並用數字表示，不可低於0元
      </div>
    </div>
    {{!-- 置中按鈕 --}}
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary my-4" type="submit">新增開支</button>
    </div>
  </form>
</div>

{{!-- model --}}
<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="addCategory" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新增一個新{{ type }}類別</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/category" method="post" class="needs-validation" novalidate>
          <div class="mb-3">
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="recipient-name" name="newCategory" placeholder="類別名稱..."
                required>
              <div class="has-validation invalid-feedback">
                請輸入新類別名稱
              </div>
            </div>
          </div>
          {{!-- 類別圖案 --}}
          {{#isnt '收入' type}}
          <div class="mb-3 d-flex flex-column">
            <div class="input-group has-validation">
              <label for="message-text" class="col-form-label mb-3">類別圖案:</label>
              <div class="row">
                {{#each iconsClass}}
                <div id="select-icon" class="col-3 mb-5">
                  <label>
                    <input class="form-check-input mt-0 mx-2" type="radio" name="icon" value="{{this}}" required>
                    <div class="has-validation invalid-feedback">
                      請選擇一個類別圖示
                    </div>
                    <i class="{{this}} icon"></i>
                  </label>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
          {{!-- 類別圖案 --}}
          {{/isnt}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">新增類別</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>